.App {
  text-align: center;
  background-color: rgb(116, 110, 110);
}
.banner {
  background-color: rgb(78, 204, 29);
}
.background {
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  height: auto;
  width: 15%;
  margin: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background: rgb(79, 80, 76);
}
.name {
  color: red;
  font-size: x-large;
}
.class {
  color: blue;
}
.crew {
  color: purple;
}
.cost {
  color: green;
}
.capacity {
  color: white;
}
.hyperdrive {
  color: lightblue;
}
.speed {
  color: black;
}